<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="IServiceFactory" type="Octopus.Esb.Server.IServiceFactory, Octopus.Esb" />
				<add name="ISerializerFactory" type="Octopus.Esb.ISerializerFactory, Octopus.Esb" />
				<add name="ISerializer" type="Octopus.Esb.ISerializer, Octopus.Esb" />
			</typeAliases>

			<object name="ServiceFactory" type="IServiceFactory" mapTo="Octopus.Esb.Server.ServiceFactory, Octopus.Esb"
				setting="{name:'../../octopus/esb/server', type:'Octopus.Esb.Config.ServiceFactorySetting, Octopus.Esb'}">
				<lifetime type="Service" />
			</object>

			<object name="HttpObjectBuilder" type="IRemotingObjectBuilder" mapTo="Octopus.Esb.Client.HttpObjectBuilder, Octopus.Esb">
				<lifetime type="Singleton" />
			</object>

			<object name="SerializerFactory" type="ISerializerFactory" mapTo="Octopus.Esb.SerializerFactoryInternal, Octopus.Esb"
				setting="{name:'../../octopus/esb/serializer', type:'Octopus.Esb.Config.SerializerFactorySetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>

			<object name="DefaultJsonSerializer" type="ISerializer" mapTo="Octopus.Esb.JsonNetSerializer, Octopus.Esb">
				<lifetime type="Singleton" />
			</object>

			<object name="HttpRealProxyFactory" type="Octopus.Esb.Client.IHttpRealProxyFactory, Octopus.Esb" mapTo="Octopus.Esb.Client.HttpRealProxyFactory, Octopus.Esb"
				setting="{name:'../../octopus/esb/client', type:'Octopus.Esb.Config.HttpRealProxyFactorySetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>
			<object name="ProxyReturnTypeHandler" type="Octopus.Esb.Client.ProxyReturnTypeHandler, Octopus.Esb"
			        setting="{name:'../../octopus/esb/client', type:'Octopus.Esb.Config.ProxyReturnTypeHandlerSetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>
			<object name="HttpRealProxyFactoryInternal" type="Octopus.Esb.Client.IHttpRealProxyFactoryInternal, Octopus.Esb" mapTo="@HttpRealProxyFactory">
				<lifetime type="Singleton" />
			</object>
			<object name="HttpRealProxy" type="Octopus.Esb.Client.IHttpRealProxy, Octopus.Esb" mapTo="Octopus.Esb.Client.HttpRealProxy, Octopus.Esb" />

			<object name="AuthorizationProviderFactory" type="ISerializerFactory" mapTo="Octopus.Esb.Server.AuthorizationProviderFactory, Octopus.Esb"
				setting="{name:'../../octopus/esb/authorization', type:'Octopus.Esb.Config.AuthorizationProviderFactorySetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<esb>
				<server routeUrl="/Services/" pathRegex="/Services/(?&lt;serviceName&gt;\w+)(/(?&lt;methodName&gt;\w+))?">
					<services />

					<extenders>
						<add name="AuthorizationExtender" type="@AuthorizationProviderFactory" enabled="true" />
					</extenders>
				</server>

				<client>
					<extenders>
						<add name="ProxyReturnTypeHandlerExtender" type="@ProxyReturnTypeHandler" enabled="false" />
					</extenders>

					<handlers />
					<returnTypes />
				</client>

				<serializer defaultSerializer="DefaultJsonSerializer" debug="false">
					<add name="DefaultJsonSerializer" contentType="application/json" type="@DefaultJsonSerializer" enabled="true" />
				</serializer>

				<authorization defaultFactory="@AuthorizationProviderFactory">
					<providers>
						<add name="ObsoleteAuthenticationProvider" type="Octopus.Security.ObsoleteAttribute, Octopus.Esb" />
						<add name="PostAuthenticationProvider" type="Octopus.Security.PostAuthorizeAttribute, Octopus.Esb" />
					</providers>
				</authorization>
			</esb>
		</octopus>
	</htb.devfx>
</configuration>