<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="IServiceFactory" type="Octopus.Esb.Server.IServiceFactory, Octopus.Esb" />
			</typeAliases>

			<object name="ServiceFactory" type="IServiceFactory" mapTo="Octopus.Esb.Server.ServiceFactory, Octopus.Esb"
				setting="{name:'../../octopus/esb/server', type:'Octopus.Esb.Config.ServiceFactorySetting, Octopus.Esb'}">
				<lifetime type="Service" />
			</object>

			<object name="AuthorizationProviderFactory" type="ISerializerFactory" mapTo="Octopus.Esb.Server.AuthorizationProviderFactory, Octopus.Esb"
				setting="{name:'../../octopus/esb/authorization', type:'Octopus.Esb.Config.AuthorizationProviderFactorySetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<esb>
				<server routeUrl="/Services/" pathRegex="/Services/(?&lt;serviceName&gt;\w+)(/(?&lt;methodName&gt;\w+))?">
					<services />

					<extenders>
						<add name="AuthorizationExtender" type="@AuthorizationProviderFactory" enabled="true" />
					</extenders>
				</server>

				<authorization defaultFactory="@AuthorizationProviderFactory">
					<providers>
						<add name="ObsoleteAuthenticationProvider" type="Octopus.Security.ObsoleteAttribute, Octopus.Esb" />
						<add name="PostAuthenticationProvider" type="Octopus.Security.PostAuthorizeAttribute, Octopus.Esb" />
					</providers>
				</authorization>
			</esb>
		</octopus>
	</htb.devfx>
</configuration>