<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BeITMemcached" version="1.2.61.0" targetFramework="net40" />
  <package id="DevFx" version="1.0.98763.0" targetFramework="net40" />
  <package id="DevFx.Data" version="1.0.95298.0" targetFramework="net40" />
  <package id="DevFx.Lite" version="1.0.97125.0" targetFramework="net40" />
  <package id="Joy.Runtime" version="1.0.1417.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.3.7" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.4.1" targetFramework="net40" />
  <package id="Octopus.ApplicationAuthentication" version="1.0.1011.0" targetFramework="net40" />
  <package id="Octopus.Esb" version="1.0.1803.0" targetFramework="net40" />
  <package id="Octopus.Runtime" version="1.0.3949.0" targetFramework="net40" />
  <package id="RazorEngine" version="3.0.8.1" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.5.5" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.5.8.3" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.6.0" targetFramework="net40" />
</packages>