<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<startup>
			<core>
				<configService>
					<configFiles configSet="{key:'file'}">
						<add file="octopus.*.config" />
					</configFiles>
				</configService>
			</core>
		</startup>

		<objects configSet="{tag:'object'}">
			<object name="JsonNetSerializer" type="ISerializer" mapTo="Octopus.Esb.JsonNetSerializer, Octopus.Runtime">
				<lifetime type="Singleton" />
			</object>
			<object name="JsonIsoSerializer" type="ISerializer" mapTo="Octopus.Esb.JsonIsoSerializer, Octopus.Runtime">
				<lifetime type="Singleton" />
			</object>
			<object name="BsonNetSerializer" type="ISerializer" mapTo="Octopus.Esb.BsonNetSerializer, Octopus.Runtime">
				<lifetime type="Singleton" />
			</object>
			<object name="JsonInternalSerializer" type="ISerializer" mapTo="Octopus.Esb.JsonInternalSerializer, Octopus.Runtime">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<esb>
				<serializer>
					<add name="JsonNetSerializer" contentType="application/json; esb" type="@JsonNetSerializer" enabled="true" />
					<add name="JsonIsoSerializer" contentType="application/json; iso" type="@JsonIsoSerializer" enabled="true" />
					<add name="BsonNetSerializer" contentType="application/bson" type="@BsonNetSerializer" enabled="true" />
					<remove name="DefaultJsonSerializer" />
					<add name="DefaultJsonSerializer" contentType="application/json" type="@JsonInternalSerializer" enabled="true" />
				</serializer>
			</esb>
		</octopus>
	</htb.devfx>
</configuration>