<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="WebHostService" type="Octopus.Web.IWebHostService, Octopus.Esb" mapTo="@WebHostServiceInstance">
				<lifetime type="Singleton" />
			</object>

			<object name="WebHostServiceInstance" type="Octopus.Web.WebHostService, Octopus.Esb"
			        setting="{name:'../../octopus/webHost', type:'Octopus.Web.Config.WebHostServiceSetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<webHost>
				<startupAssemblies />
				<startupFilters />
				<middlewares>
					<add name="HttpContextHolder" type="Octopus.Web.HttpContextHolder, Octopus.Esb" />
				</middlewares>
			</webHost>
		</octopus>
	</htb.devfx>
</configuration>