<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="EventRepository" type="IEventRepository" mapTo="Octopus.EventBus.Data.RedisRepository, Octopus.EventBus.Data"
					setting="{name:'../../octopus/events/server/data', type:'Octopus.EventBus.Server.Config.EventRepositorySetting, Octopus.EventBus.Server'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<events>
				<server>
					<data />
				</server>
			</events>
		</octopus>

		<data configSet="{tag:'statements', nullable:'true'}">
			<dataStorages defaultStorage="EventMessages">
				<add name="EventMessages" connectionString="EventMessageConnection" />
			</dataStorages>

			<statements>
				<!--保存消息-->
				<add name="SaveEventMessage">
					<parameters>
						<add name="MessageGuid" parameterName="@MessageGuid" type="string" size="50" nullable="false" />
						<add name="Category" parameterName="@Category" type="string" size="50" nullable="false" />
						<add name="EventName" parameterName="@EventName" type="string" size="50" nullable="false" />
						<add name="Priority" parameterName="@Priority" type="int" size="4" nullable="true" />
						<add name="MessageType" parameterName="@MessageType" type="int" size="4" nullable="true" />
						<add name="MessageID" parameterName="@MessageID" type="string" size="50" nullable="true" />
						<add name="ChannelID" parameterName="@ChannelID" type="string" size="50" nullable="true" />
						<add name="Tags" parameterName="@Tags" type="string" size="1024" nullable="true" />
						<add name="CreatedTime" parameterName="@CreatedTime" type="DateTime" size="8" nullable="true" />
						<add name="Message" parameterName="@Message" type="string" size="10240" nullable="true" />
						<add name="Data" parameterName="@Data" type="string" size="40960" nullable="true" />
					</parameters>
					<commandText>
						INSERT INTO EventMessages (
							MessageGuid, Category, EventName, Priority, MessageType,
							MessageID, ChannelID, Tags, CreatedTime, Message, Data
						) VALUES (
							@MessageGuid, @Category, @EventName, @Priority, @MessageType,
							@MessageID, @ChannelID, @Tags, @CreatedTime, @Message, @Data
						)
					</commandText>
				</add>
			</statements>
		</data>
	</htb.devfx>
</configuration>