<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
	</configSections>

	<connectionStrings>
		<add name="GameConnection" connectionString="Server=192.168.1.226;Database=JoyGames;User ID=joyusers;Password=$4kRieger!" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<htb.devfx>
		<data>
			<dataStorages defaultStorage="GameStorage">
				<add name="GameStorage" connectionString="GameConnection" />
			</dataStorages>
		</data>

		<admin>
			<dataManages>
				<items configSet="{tag:'item'}">
					<item name="gameres" title="游戏资源" tableName="GameResources">
						<add name="ID" title="ID" primaryKey="true" sort="ASC" />
						<add name="GameID" title="游戏ID" queryable="true" />
						<add name="Url" title="资源地址" queryable="true" queryOperator="LIKE" />
						<add name="CreateTime" title="创建时间" sort="DESC" />
						<add name="Operator" title="操作">
							<valueFormat><![CDATA[<a href="{Url}">{ID}</a>]]></valueFormat>
						</add>
					</item>
				</items>
			</dataManages>
		</admin>

		<entities connection="Server=192.168.1.226;Database=JoyGames;User ID=joyusers;Password=$4kRieger!" configSet="{tag:'entity'}">
			<entity name="GameResources" needpager="true">
				<columns>
					<add name="GameID" label="游戏ID" control="Text"  canedit="true" canadd="true"/>
					<add name="CategoryID" label="资源类型" control="Select" relation="ResourceCategories" relationfields="ID,Title"  canedit="true" canadd="true"/>
					<add name="Url" label="资源地址" formatter="&lt;a href='{0}'&gt;查看&lt;/a&gt;" control="Text" canedit="true" canadd="true" />
					<add name="CreateTime" label="创建时间"  control="Text"/>
					<add name="ClientIP" label="IP地址" />
					<add name="ID" primkey="true" sort="desc" label="操作" formatter="&lt;a href='Edit?name=GameResources&amp;Id={0}'&gt;编辑&lt;/a&gt;" />
				</columns>
			</entity>
			<entity name="ResourceCategories">
				<columns>
					<add name="ID" primkey="true" sort="desc"/>
					<add name="GameID" label="游戏ID" control="Text"  canedit="true" canadd="true"/>
					<add name="Title" label="标题" control="Text"  canedit="true" canadd="true"/>
					<add name="Description" label="描述" control="Text"  canedit="true" canadd="true"/>
				</columns>
			</entity>
		</entities>


		<octopus>
			<appAuth>
				<!--配置应用编码和密钥-->
				<client appNo="201" secretKey="psp123456" />
			</appAuth>

			<admin loginUrl="http://www.admin.newkoo.com:38634/AdminBase/Account/LogOn?AppNo={0}&amp;ReturnUrl={1}" />
		</octopus>
		<log enabled="true" verbose="min" />
		<exception enabled="false" />
	</htb.devfx>

	<appSettings>
		<add key="webpages:Version" value="1.0.0.0"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<!--<authentication mode="Forms"> 
			<forms name="gpc.admin" domain=".admin.newkoo.com" loginUrl="~/AdminBase/Account/LogOn" enableCrossAppRedirects="true" timeout="2880" />
		</authentication>-->

    <machineKey validationKey="0640BD71E41B446C23DC3548D1B1FD976D2F950BF2FB07BFCFAC0336362EF00588D399D79589B972B5B31FA5BD8FA186259CFF5F67E43D56BDDB6C07A4E42175" decryptionKey="BD998C2F44E1EB715853357EF8C2E3583705B60729FEBE33924CB471E9AED788" validation="SHA1" decryption="AES" />

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
