<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="PermissionDataService" type="Octopus.SecurityPermissions.Server.IPermissionDataService, Octopus.SecurityPermissions.Server" mapTo="Octopus.SecurityPermissions.Data.PermissionDataService, Octopus.SecurityPermissions.Data">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<data configSet="{tag:'statements', nullable:'true'}">
			<dataStorages defaultStorage="PermissionStorage">
				<add name="PermissionStorage" connectionString="PermissionConnection" />
			</dataStorages>

			<!--SQL定义-->
			<statements>
				<add name="GetPermissionResources">
					<commandText>
						SELECT * FROM [PermissionResources] WITH(NOLOCK)
					</commandText>
				</add>

				<add name="GetPermissionRelations">
					<commandText>
						SELECT * FROM [PermissionRelations] WITH(NOLOCK) ORDER BY [ID] DESC
					</commandText>
				</add>

				<add name="GetGroupRoles">
					<commandText>
						SELECT * FROM [GroupRoles] WITH(NOLOCK) WHERE Enabled = 1
					</commandText>
				</add>

				<add name="GetUserGroupRoles">
					<commandText>
						SELECT * FROM [UserGroupRoles] WITH(NOLOCK) WHERE Enabled = 1
					</commandText>
				</add>
	
				<add name="AddPermissionResource">
					<parameters>
						<add name="PermissionNo" parameterName="@PermissionNo" type="string" size="50" nullable="false" />
						<add name="AppNo" parameterName="@AppNo" type="string" size="50" nullable="false" />
						<add name="Category" parameterName="@Category" type="string" size="50" nullable="true" />
						<add name="ParentNo" parameterName="@ParentNo" type="string" size="50" nullable="true" />
						<add name="Title" parameterName="@Title" type="string" size="50" nullable="false" />
						<add name="Description" parameterName="@Description" type="string" size="256" nullable="true" />
						<add name="Url" parameterName="@Url" type="string" size="512" nullable="true" />
						<add name="Viewable" parameterName="@Viewable" type="bool" size="1" nullable="false" />
						<add name="Enabled" parameterName="@Enabled" type="bool" size="1" nullable="false" />
						<add name="DispIndex" parameterName="@DispIndex" type="int" size="4" nullable="false" />
						<add name="DefaultRole" parameterName="@DefaultRole" type="string" size="50" nullable="false" />
					</parameters>
					<commandText>
						INSERT INTO [PermissionResources]
						([PermissionNo], [AppNo], [Category], [ParentNo], [Title], [Description], [Url], [Viewable], [Enabled], [DispIndex])
						VALUES (@PermissionNo, @AppNo, @Category, @ParentNo, @Title, @Description, @Url, @Viewable, @Enabled, @DispIndex)
						INSERT INTO [PermissionRelations] ([TargetObject], [TargetValue], [AppNo], [PermissionNo], [Grantable], [Remark])
						VALUES(2, @DefaultRole, 'Admin', @PermissionNo, 1, 'Auto Granted When Created')
					</commandText>
				</add>

				<add name="UpdatePermissionResource">
					<parameters>
						<add name="PermissionNo" parameterName="@PermissionNo" type="string" size="50" nullable="false" />
						<add name="ParentNo" parameterName="@ParentNo" type="string" size="50" nullable="true" />
						<add name="Title" parameterName="@Title" type="string" size="50" nullable="false" />
						<add name="Description" parameterName="@Description" type="string" size="256" nullable="true" />
						<add name="Url" parameterName="@Url" type="string" size="512" nullable="true" />
						<add name="Viewable" parameterName="@Viewable" type="bool" size="1" nullable="false" />
						<add name="Enabled" parameterName="@Enabled" type="bool" size="1" nullable="false" />
						<add name="DispIndex" parameterName="@DispIndex" type="int" size="4" nullable="false" />
					</parameters>
					<commandText>
						UPDATE [PermissionResources] SET ParentNo = @ParentNo, Title = @Title, Description = @Description,
						Url = @Url, Viewable = @Viewable, Enabled = @Enabled, DispIndex = @DispIndex
						WHERE PermissionNo = @PermissionNo
					</commandText>
				</add>

				<add name="DeletePermissionResource">
					<parameters>
						<add name="PermissionNo" parameterName="@PermissionNo" type="string" size="50" nullable="false" />
					</parameters>
					<commandText>
						<!--同时删除相关数据-->
						DELETE FROM [PermissionResources] WHERE PermissionNo = @PermissionNo
						DELETE FROM [PermissionRelations] WHERE PermissionNo = @PermissionNo
					</commandText>
				</add>

				<add name="GetPermissionRoles">
					<commandText>
						SELECT * FROM [UserRoles] WITH(NOLOCK)
					</commandText>
				</add>

				<add name="DeletePermissionRole">
					<parameters>
						<add name="RoleNo" parameterName="@RoleNo" type="string" size="50" nullable="false" />
					</parameters>
					<commandText><!--同时删除相关数据-->
						DELETE FROM [UserRoles] WHERE RoleNo = @RoleNo
						DELETE FROM [GroupRoles] WHERE RoleNo = @RoleNo
						DELETE FROM [UserGroupRoles] WHERE TargetCategory = 2 AND TargetValue = @RoleNo
						DELETE FROM [PermissionRelations] WHERE TargetObject = 2 AND TargetValue = @RoleNo
					</commandText>
				</add>
	
				<add name="AddPermissionRole">
					<parameters>
						<add name="RoleNo" parameterName="@RoleNo" type="string" size="50" nullable="false" />
						<add name="AppNo" parameterName="@AppNo" type="string" size="50" nullable="false" />
						<add name="Title" parameterName="@Title" type="string" size="50" nullable="false" />
						<add name="Description" parameterName="@Description" type="string" size="256" nullable="true" />
						<add name="Enabled" parameterName="@Enabled" type="bool" size="1" nullable="false" />
					</parameters>
					<commandText>
						INSERT INTO [UserRoles]
						([RoleNo], [AppNo], [Title], [Description], [Enabled])
						VALUES (@RoleNo, @AppNo, @Title, @Description, @Enabled)
					</commandText>
				</add>

				<add name="UpdatePermissionRole">
					<parameters>
						<add name="RoleNo" parameterName="@RoleNo" type="string" size="50" nullable="false" />
						<add name="Title" parameterName="@Title" type="string" size="50" nullable="false" />
						<add name="Description" parameterName="@Description" type="string" size="256" nullable="true" />
						<add name="Enabled" parameterName="@Enabled" type="bool" size="1" nullable="false" />
					</parameters>
					<commandText>
						UPDATE [UserRoles] SET Title = @Title, Description = @Description, Enabled = @Enabled WHERE RoleNo = @RoleNo
					</commandText>
				</add>

				<add name="DeleteUserGroupRole">
					<parameters>
						<add name="ID" parameterName="@ID" type="int" size="4" nullable="false" />
					</parameters>
					<commandText>
						DELETE FROM [UserGroupRoles] WHERE [ID] = @ID
					</commandText>
				</add>

				<add name="AddUserGroupRole">
					<parameters>
						<add name="UserName" parameterName="@UserName" type="string" size="50" nullable="false" />
						<add name="TargetCategory" parameterName="@TargetCategory" type="int" size="4" nullable="false" />
						<add name="TargetValue" parameterName="@TargetValue" type="string" size="50" nullable="false" />
						<add name="Enabled" parameterName="@Enabled" type="bool" size="1" nullable="false" />
					</parameters>
					<commandText>
						INSERT INTO [UserGroupRoles]
						([UserName], [TargetCategory], [TargetValue], [Enabled])
						VALUES (@UserName, @TargetCategory, @TargetValue, @Enabled)
					</commandText>
				</add>

				<add name="AddPermissionRelation">
					<parameters>
						<add name="TargetObject" parameterName="@TargetObject" type="int" size="4" nullable="false" />
						<add name="TargetValue" parameterName="@TargetValue" type="string" size="50" nullable="false" />
						<add name="AppNo" parameterName="@AppNo" type="string" size="50" nullable="false" />
						<add name="PermissionNo" parameterName="@PermissionNo" type="string" size="50" nullable="false" />
						<add name="PermissionValue" parameterName="@PermissionValue" type="string" size="50" nullable="true" />
						<add name="Priority" parameterName="@Priority" type="int" size="4" nullable="false" />
						<add name="Granted" parameterName="@Granted" type="bool" size="1" nullable="false" />
						<add name="Grantable" parameterName="@Grantable" type="bool" size="1" nullable="false" />
						<add name="Enabled" parameterName="@Enabled" type="bool" size="1" nullable="false" />
						<add name="Remark" parameterName="@Remark" type="string" size="256" nullable="true" />
					</parameters>
					<commandText>
						INSERT INTO [PermissionRelations]
						([TargetObject], [TargetValue], [AppNo], [PermissionNo], [PermissionValue], [Priority], [Granted], [Grantable], [Enabled], [Remark])
						VALUES (@TargetObject, @TargetValue, @AppNo, @PermissionNo, @PermissionValue, @Priority, @Granted, @Grantable, @Enabled, @Remark)
					</commandText>
				</add>

				<add name="DeletePermissionRelation">
					<parameters>
						<add name="ID" parameterName="@ID" type="int" size="4" nullable="false" />
					</parameters>
					<commandText>
						DELETE FROM [PermissionRelations] WHERE [ID] = @ID
					</commandText>
				</add>

				<add name="UpdatePermissionRelation">
					<parameters>
						<add name="ID" parameterName="@ID" type="int" size="4" nullable="false" />
						<add name="PermissionValue" parameterName="@PermissionValue" type="string" size="50" nullable="true" />
						<add name="Priority" parameterName="@Priority" type="int" size="4" nullable="false" />
						<add name="Granted" parameterName="@Granted" type="bool" size="1" nullable="false" />
						<add name="Enabled" parameterName="@Enabled" type="bool" size="1" nullable="false" />
						<add name="Remark" parameterName="@Remark" type="string" size="256" nullable="true" />
					</parameters>
					<commandText>
						UPDATE [PermissionRelations] SET PermissionValue = @PermissionValue, Priority = @Priority,
						Granted = Granted, Enabled = @Enabled, Remark = @Remark WHERE [ID] = @ID
					</commandText>
				</add>

				<add name="GetPermissionLogs">
					<parameters>
						<add name="UserName" parameterName="@UserName" type="string" size="50" nullable="true"  />
						<add name="StartTime" parameterName="@StartTime" type="DateTime" size="8" nullable="true" />
						<add name="EndTime" parameterName="@EndTime" type="DateTime" size="8" nullable="true" />
						<add name="StartIndex" parameterName="@StartIndex" type="int" size="4" nullable="false" />
						<add name="PageSize" parameterName="@PageSize" type="int" size="4" nullable="false" />
					</parameters>
					<commandText parser="@Data.RazorCommandTextParser">
						@helper where() {
						@:WHERE 1 = 1
						if(Model.Contains("UserName")) {
						@:AND UserName = @@UserName
						}
						if(Model.Contains("StartTime")) {
						@:AND CreatedTime &gt;= @@StartTime
						}
						if(Model.Contains("EndTime")) {
						@:AND CreatedTime &lt;= @@EndTime
						}
						}
						SELECT COUNT(*) FROM [PermissionLogs] WITH(NOLOCK)
						@where();
						WITH T AS (
						SELECT *, ROW_NUMBER() OVER(ORDER BY [ID] DESC) AS RowIndex FROM [PermissionLogs] WITH(NOLOCK)
						@where()
						) SELECT TOP (@@PageSize) * FROM T WHERE RowIndex > @@StartIndex ORDER BY RowIndex
					</commandText>
				</add>

				<add name="AddPermissionLog">
					<parameters>
						<add name="UserName" parameterName="@UserName" type="string" size="50" nullable="false" />
						<add name="Contents" parameterName="@Contents" type="string" size="1024" nullable="false" />
						<add name="TargetObject" parameterName="@TargetObject" type="string" size="2048" nullable="true" />
						<add name="ClientIP" parameterName="@ClientIP" type="string" size="20" nullable="true" />
					</parameters>
					<commandText>
						INSERT INTO [PermissionLogs]
						([UserName], [Contents], [TargetObject], [ClientIP])
						VALUES (@UserName, @Contents, @TargetObject, @ClientIP)
					</commandText>
				</add>
			</statements>
		</data>
	</htb.devfx>
</configuration>