<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="TestService" type="ClassLibrary1.ITestService, ClassLibrary1" mapTo="http://localhost:5000/Services/PassportService" builder="@RemotingObjectBuilder">
				<lifetime type="Singleton" />
			</object>
		</objects>
	</htb.devfx>
</configuration>