<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="AdminPassportServerService" type="Octopus.Admin.Server.IPassportServerService, Octopus.AdminServer" mapTo="Octopus.Admin.Server.PassportService, Octopus.AdminServer"
				setting="{name:'../../octopus/admin/server', type:'Octopus.Admin.Server.Config.PassportServerServiceSetting, Octopus.AdminServer'}">
				<lifetime type="Singleton" />
			</object>

			<remove name="AdminPassportService" />
			<object name="AdminPassportService" type="Octopus.Web.AdminBase.IPassportService, Octopus.AdminBase" mapTo="@AdminPassportServerService">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<cache>
			<!--缓存-->
			<add name="AdminPassportCache" type="MemcachedCache">
				<memcached name="AdminCache" keyPrefix="admin_" />
			</add>
		</cache>
	</htb.devfx>
</configuration>