@{
	Layout = "../AdminShared/HuyuLayout.cshtml";
    ViewBag.Title = "欢迎";
}
<h2 style="padding: 10px">欢迎使用后台管理系统</h2>
@*<ul style="padding: 10px"><li><a href="/cmsadmin" target="_blank">点击这里进入CMS内容管理系统</a></li></ul>*@