<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="IEventRepository" type="Octopus.EventBus.Server.IEventRepository, Octopus.EventBus.Server" />
				<add name="IEventDispatcher" type="Octopus.EventBus.Server.IEventDispatcher, Octopus.EventBus.Server" />
			</typeAliases>

			<remove name="EventServiceClient" />
			<object name="EventServiceServer" type="IEventService" mapTo="Octopus.EventBus.Server.EventService, Octopus.EventBus.Server"
					setting="{name:'../../octopus/events/server', type:'Octopus.EventBus.Server.Config.EventServiceSetting, Octopus.EventBus.Server'}">
				<lifetime type="Service" />
			</object>
		</objects>

		<octopus>
			<events>
				<server />
			</events>
		</octopus>
	</htb.devfx>
</configuration>