<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
	</configSections>

	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="MessageHandler" type="ConsoleApplication1.MessageHandler, ConsoleApplication1">
				<lifetime type="Singleton" />
			</object>
		</objects>
		<octopus>
			<appAuth>
				<!--配置应用编码和密钥-->
				<client appNo="passport" secretKey="123456" />
			</appAuth>
			<events>
				<client uri="http://localhost:3307/Services/EventService" />
				<broker debug="true" logger="@MessageLogger">
					<publishers defaultPublisher="Default">
						<add name="Default" category="hello" />
					</publishers>
					<subscribers>
						<add name="Test" category="Octopus1.Passport.All" type="@MessageHandler" />
						<add name="Test11" category="Joy1." type="@MessageHandler" timeout="120" />
						<add name="Test12" category="Joy1." type="@MessageHandler" timeout="10" />
					</subscribers>
				</broker>
			</events>
		</octopus>

		<log enabled="true" verbose="min" />
		<exception enabled="true" />
	</htb.devfx>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
