<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="MemcachedCache" type="Joy.Runtime.Memcached.MemcachedCache, Joy.Runtime" />
				<add name="RedisCache" type="Joy.Runtime.Redis.RedisCache, Joy.Runtime" />
			</typeAliases>
		</objects>
	</htb.devfx>
</configuration>