<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="PermissionClientService" type="Octopus.SecurityPermissions.IPermissionClientService, Octopus.SecurityPermissions" mapTo="Octopus.SecurityPermissions.PermissionClientService, Octopus.SecurityPermissions"
				setting="{name:'../../octopus/security/permissions/client', type:'Octopus.SecurityPermissions.Config.PermissionClientServiceSetting, Octopus.SecurityPermissions'}">
				<lifetime type="Singleton" />
			</object>

			<object name="PermissionServiceClient" type="Octopus.SecurityPermissions.IPermissionService, Octopus.SecurityPermissions" mapTo="http://permissions.esb.joyyang.com/Services/PermissionService" builder="@RemotingObjectBuilder"
				setting="{name:'../../octopus/security/permissions/client', type:'HTB.DevFx.Remoting.Config.RemotingObjectBuilderSetting, HTB.DevFx.BaseFx'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<cache>
			<!--缓存-->
			<add name="PermissionCache" type="@DefaultCache" interval="1000">
				<cacheStorage type="@NullCacheStorage" />
			</add>
		</cache>

		<octopus>
			<security>
				<permissions>
					<client errorUrl="http://passport.joyyang.com/Passport/Error/{0}?ReturnUrl={1}" />
				</permissions>
			</security>
		</octopus>

		<httpModules>
			<add name="PermissionHttpModule" type="Octopus.SecurityPermissions.Web.PermissionHttpModule, Octopus.SecurityPermissions" />
			<move name="ExceptionHttpModule" />
		</httpModules>
	</htb.devfx>
</configuration>