<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="IEventService" type="Octopus.EventBus.IEventService, Octopus.EventBus" />
				<add name="IEventClientService" type="Octopus.EventBus.IEventClientService, Octopus.EventBus" />
				<add name="IEventSubscriber" type="Octopus.EventBus.IEventSubscriber, Octopus.EventBus" />
				<add name="IEventCallback" type="Octopus.EventBus.IEventCallback, Octopus.EventBus" />
			</typeAliases>

			<object name="EventServiceClient" type="IEventService" mapTo="http://events.esb.joyyang.com/Services/EventService" builder="@RemotingObjectBuilder"
					setting="{name:'../../octopus/events/client', type:'HTB.DevFx.Remoting.Config.RemotingObjectBuilderSetting, HTB.DevFx.BaseFx'}">
				<lifetime type="Singleton" />
			</object>

			<object name="EventClientService" type="IEventClientService" mapTo="Octopus.EventBus.EventClientService, Octopus.EventBus"
					setting="{name:'../../octopus/events/broker', type:'Octopus.EventBus.Config.EventClientServiceSetting, Octopus.EventBus'}">
				<lifetime type="Singleton" />
			</object>

			<object name="EventCallback" type="IEventCallback" mapTo="@EventClientService">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<events>
				<!--<client />-->
				<broker debug="false" logger="" interval="1000">
					<publishers defaultPublisher="" interval="100" />
					<subscribers callback="" interval="100" intervalEnabled="true" />
				</broker>
			</events>
		</octopus>
	</htb.devfx>
</configuration>