<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<remove name="PermissionServiceClient" />
			<object name="PermissionServiceServer" type="Octopus.SecurityPermissions.IPermissionService, Octopus.SecurityPermissions" mapTo="Octopus.SecurityPermissions.Server.PermissionService, Octopus.SecurityPermissions.Server"
				setting="{name:'../../octopus/security/permissions/server', type:'Octopus.SecurityPermissions.Server.Config.PermissionServiceSetting, Octopus.SecurityPermissions.Server'}">
				<lifetime type="Singleton" />
			</object>

			<object name="PermissionServerService" type="Octopus.SecurityPermissions.Server.IPermissionServerService, Octopus.SecurityPermissions.Server" mapTo="@PermissionServiceServer">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<cache>
			<!--缓存-->
			<add name="PermissionServerCache" type="@DefaultCache" interval="1000">
				<cacheStorage type="@NullCacheStorage" />
			</add>
		</cache>

		<octopus>
			<security>
				<permissions>
					<server />
				</permissions>
			</security>
		</octopus>
	</htb.devfx>
</configuration>