<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="IServiceFactory" type="Octopus.Esb.Server.IServiceFactory, Octopus.Esb" />
				<add name="ISerializerFactory" type="Octopus.Esb.ISerializerFactory, Octopus.Esb" />
				<add name="ISerializer" type="Octopus.Esb.ISerializer, Octopus.Esb" />
			</typeAliases>

			<object name="ServiceFactory" type="IServiceFactory" mapTo="Octopus.Esb.Server.ServiceFactory, Octopus.Esb"
				setting="{name:'../../octopus/esb/server', type:'Octopus.Esb.Config.ServiceFactorySetting, Octopus.Esb'}">
				<lifetime type="Service" />
			</object>

			<object name="HttpObjectBuilder" type="IRemotingObjectBuilder" mapTo="Octopus.Esb.Client.HttpObjectBuilder, Octopus.Esb">
				<lifetime type="Singleton" />
			</object>

			<object name="SerializerFactory" type="ISerializerFactory" mapTo="Octopus.Esb.SerializerFactoryInternal, Octopus.Esb"
				setting="{name:'../../octopus/esb/serializer', type:'Octopus.Esb.Config.SerializerFactorySetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>

			<object name="DefaultJsonSerializer" type="ISerializer" mapTo="Octopus.Esb.DefaultJsonSerializer, Octopus.Esb">
				<lifetime type="Singleton" />
			</object>

			<object name="HttpRealProxy" type="Octopus.Esb.Client.IHttpRealProxy, Octopus.Esb" mapTo="Octopus.Esb.Client.HttpRealProxy, Octopus.Esb"
				setting="{name:'../../octopus/esb/client', type:'Octopus.Esb.Config.HttpRealProxySetting, Octopus.Esb'}" />

			<object name="AuthorizationProviderFactory" type="ISerializerFactory" mapTo="Octopus.Esb.Server.AuthorizationProviderFactory, Octopus.Esb"
				setting="{name:'../../octopus/esb/authorization', type:'Octopus.Esb.Config.AuthorizationProviderFactorySetting, Octopus.Esb'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<esb>
				<server routeUrl="Services/{service}/{method}/{*pathInfo}">
					<services />

					<extenders>
						<add name="AuthorizationExtender" type="@AuthorizationProviderFactory" enabled="true" />
					</extenders>
				</server>

				<client>
					<extenders />
				</client>

				<serializer defaultSerializer="DefaultJsonSerializer" debug="false">
					<add name="DefaultJsonSerializer" contentType="application/json" type="@DefaultJsonSerializer" enabled="true" />
				</serializer>

				<authorization defaultFactory="@AuthorizationProviderFactory">
					<providers />
				</authorization>
			</esb>
		</octopus>

		<remoting>
			<handlers defaultHandler="@HttpObjectBuilder">
				<add name=".json" type="@HttpObjectBuilder" />
			</handlers>
		</remoting>
	</htb.devfx>
</configuration>