<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<octopus>
			<esb>
				<server>
					<services>
						<!--发布服务-->
						<add name="PassportService" alias="esb://octopus.passportservice" type="ClassLibrary1.ITestService, ClassLibrary1" serviceType="ConsoleApp1.TestService, ConsoleApp1" />
					</services>
				</server>
			</esb>
		</octopus>
	</htb.devfx>
</configuration>