<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="AdminPassportService" type="Octopus.Web.AdminBase.IPassportService, Octopus.AdminBase" mapTo="http://login.admin.joyyang.com/Services/PassportService" builder="@RemotingObjectBuilder"
				setting="{name:'../../octopus/admin/client', type:'HTB.DevFx.Remoting.Config.RemotingObjectBuilderSetting, HTB.DevFx.BaseFx'}">
				<lifetime type="Singleton" />
			</object>

			<object name="AdminPassportAuthentication" type="Octopus.Web.AdminBase.PassportAuthenticationInternal, Octopus.AdminBase"
				setting="{name:'../../octopus/admin', type:'Octopus.Web.Config.PassportAuthenticationSetting, Octopus.AdminBase'}">
				<lifetime type="Singleton" />
			</object>

			<object name="AdminPassportAuthenticationService" type="Octopus.Web.AdminBase.IPassportAuthentication, Octopus.AdminBase" mapTo="@AdminPassportAuthentication">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<security>
				<permissions>
					<client errorUrl="~/Passport/Error/{0}?ReturnUrl={1}" />
				</permissions>
			</security>

			<!--cookieName=".sjauth"-->
			<admin loginUrl="http://login.admin.devfx.net/Wiki/Login.action?ReturnUrl={0}"
				defaultUrl="http://www.admin.devfx.net" />
		</octopus>

		<httpModules>
			<add name="AdminPassportHttpModule" type="Octopus.Web.AdminBase.PassportHttpModule, Octopus.AdminBase" />
		</httpModules>
	</htb.devfx>
</configuration>