<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="OctopusUtilsVideoHelper" type="Octopus.Utils.VideoHelper, Octopus.Base"
				setting="{name:'../../octopus/helper/video', type:'Octopus.Utils.Config.VideoHelperSetting, Octopus.Base'}">
				<lifetime type="Singleton" />
			</object>
			<object name="OctopusUtilsHtmlFilter" type="Octopus.Utils.HtmlFilter, Octopus.Base"
				setting="{name:'../../octopus/helper/htmlFilter', type:'Octopus.Utils.Config.HtmlFilterSetting, Octopus.Base'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<helper>
				<video>
					<sites>
						<add name="youku.com" regId="id_(\w+)[=.]" regIcon="data/0/logo"
							contentUrl="http://v.youku.com/player/getPlayList/VideoIDS/{0}/version/5/source/out/"
							videoUrl="http://player.youku.com/player.php/sid/{0}/v.swf" />
						<add name="tudou.com" regId="\/([0-9a-zA-Z-_]+)(?:\/|\.htm|\.html)" regIcon="multiResult/results/0/bigPicUrl"
							contentUrl="http://api.tudou.com/v3/gw?method=item.info.get&amp;appKey=85767974c44bf890&amp;format=json&amp;itemCodes={0}"
							videoUrl="http://www.tudou.com/v/{0}/v.swf" />
						<add name="ku6.com" regId="\/([0-9a-zA-Z-_\.]+)(?:\.htm|\.html)" regIcon="data/bigpicpath"
							contentUrl="http://v.ku6.com/fetchVideo4Player/{0}.html"
							videoUrl="http://player.ku6.com/refer/{0}/v.swf" />
					</sites>
				</video>
				<htmlFilter allowMedia="false">
					<tags>a,abbr,acronym,address,area,b,bdo,big,blockquote,br,button,caption,center,cite,col,colgroup,dd,del,div,dl,dt,em,font,h1,h2,h3,h4,h5,h6,hr,i,img,ins,label,li,map,ol,p,param,pre,q,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul</tags>
					<protocols>http://,https://,mailto:,/,./,../</protocols>
					<linkTags>background,codebase,href,lowsrc,src</linkTags>
					<blockCss>absolute,behavior,behaviour,content,expression,fixed,include-source,moz-binding</blockCss>
					<blockAttributes>dynsrc,id,name</blockAttributes>
				</htmlFilter>
			</helper>
		</octopus>
	</htb.devfx>
</configuration>