<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="PerformanceService" type="Octopus.Performance.PerformanceService, Octopus.Runtime"
				setting="{name:'../../octopus/performance', type:'Octopus.Performance.Config.PerformanceServiceSetting, Octopus.Runtime'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<octopus>
			<performance>
				<monitors>
					<!--<add name="" type="" enabled="true" />-->
				</monitors>
			</performance>
		</octopus>
	</htb.devfx>
</configuration>