<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevFx" version="1.0.102946.0" targetFramework="net40" />
  <package id="DevFx.Data" version="1.0.101493.0" targetFramework="net40" />
  <package id="DevFx.Lite" version="1.0.102946.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.4.1" targetFramework="net40" />
  <package id="Octopus.Base" version="1.0.6863.0" targetFramework="net40" />
  <package id="Octopus.Esb" version="1.0.5558.0" targetFramework="net40" />
  <package id="RazorEngine" version="3.3.0.1" targetFramework="net40" />
</packages>